<manifest xmlns:android="http://schemas.android.com/apk/res/android">\n    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <application android:theme="@style/Theme.TopCop" android:label="TopCop1000">
        <activity android:name=".SettingsActivity" android:screenOrientation="landscape" android:exported="false"/>
        <activity android:name=".FavoritesActivity" android:screenOrientation="landscape" android:exported="false"/>
        <activity android:name=".FilesToolsActivity" android:screenOrientation="landscape" android:exported="false"/>
        <activity android:name=".AppsActivity" android:screenOrientation="landscape" android:exported="false"/>
        <activity android:name=".MediaHubActivity" android:screenOrientation="landscape" android:exported="false"/>
        <activity android:name=".Mp3CenterActivity" android:screenOrientation="landscape" android:exported="false"/>
        <activity android:name=".MainActivity" android:screenOrientation="landscape" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
